.header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 4;
}

.container-header {
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#fm-logo-header {
    font-size: 2rem;
    margin: .5rem;
    text-decoration: none;
    color: #393e46;
}

#fm-logo-header:hover {
    color: #ffffff;
    background-color: #393e46;
    transition: .4s;
}

.fm-nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

.fm-menu {
    color: #393e46;
    text-decoration: none;
    padding: 2rem;  
    
}

.fm-menu:hover {
    color: #777777;
    transition: .4s;
    
  }

