.header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 4;
}

.container-header {
    margin: auto;
    padding: 1rem 0;
}

.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fm-logo-header {
    font-size: 2rem;
    margin: .5rem;
    text-decoration: none;
    
}

.fm-nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
}


.fm-menu li {
    list-style: none;
}

.fm-menu li a {
    text-decoration: none;
    padding: 2rem;
    font-size: 1.2rem;
}

.fm-menu a:hover {
    color: #2ee4d5;
    transition: 1s;
  }

