/* .header {
    width: 100%;
    position: sticky;
    top: 0;
    height: 0;
    z-index: 4;
} */

/* .container-header {
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* #fm-logo-header {
    font-size: 2rem;
    margin: .5rem;
    text-decoration: none;
    color: #393e46;
} */



.fm-nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 1.4rem;
}

.fm-menu {
    color: #393e46;
    text-decoration: none;
    padding: 2rem;  
}

.fm-menu:hover {
    color: #777777;
    transition: .4s;
  }

  /* MOBILE FIRST */
  @media only screen and (min-width: 0px) {
    .header {
        width: 100%;
        position: sticky;
        top: 0;
        height: 0;
        z-index: 4;
    }

    .container-header {
        width: 100%;
        padding: 1rem 0 1rem 0;
    }

    #fm-logo-header {
        width: 100%;
        margin: 0 10px;
        float: left;
        text-align: left;
        color: #393e46;
        text-decoration: none;
        font-size: 2rem;
    }

    #fm-logo-header:hover {
        color: #11272e;
        transition: .4s;
    }
      .toggle-btn {
          display: flex;
          top: 2rem;
          right: 1rem;
      }
      .fm-nav-menu {
          display: none;
      }

      .fm-nav-menu:hover {
          background-color: #393e46;
      }

      .fm-nav-menu.active {
        position: absolute;
        display: flex;
        transition:  .5s;
        top: 5.04rem;
        right: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);     
        transform: .5s ease-in ease-out;                        
      }
  }

  @media only screen and (min-width: 800px) {

        .container-header {
            width: 80%;
            margin: 0 auto;
            padding: 1rem 0 1rem 0;
            display: flex;
            justify-content: space-between; 
        }

        #fm-logo-header {
            float: left;
            text-align: left;
            margin: 0 10px;
        }

        .fm-nav-menu {
            display: flex;
            align-items: center;
        }        

        .fm-nav-menu.active {
            position: absolute;
            display: flex;
            transition:  .5s;
            top: 5.04rem;
            right: 0;
            width: 100%;
            background-color: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);     
            transform: .5s ease-in ease-out;                        
      }

  }