@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    height: 100%;
}

::selection {
    background: #cacaca; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #cacaca; /* Gecko Browsers */
  }

  html {
    scroll-behavior: smooth;
  }


/* HEADER */

    .header {
        width: 100%;
        position: sticky;
        top: 0;
        height: 0;
        z-index: 1000;
    }

    .container-header {
        width: 100%;
        padding: 1rem 10px 1rem 10px;
        display: flex;
    }

    #fm-logo-header {
        width: 100%;
        float: left;
        text-align: left;
        color: #393e46;
        text-decoration: none;
        font-size: calc(1.4rem + 0.4vw);
    }

    #fm-logo-header:hover {
        color: #11272e;
        transition: .4s;
    }

    .toggle-btn {
        text-decoration: none;
        color: #424242;
        font-size: 22px;
        justify-content: center;
        align-items: center;
        align-self: center;     
    }

      .toggle-btn:hover {
          color: #11272e;
      }

      .fm-nav-menu {
          display: none;
      }

      .fm-nav-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.1rem;
      }
    
      .fm-menu {
        color: #393e46;
        text-decoration: none;
        padding: 1rem;
      }
      
      .fm-nav-menu li {
          padding: 10px 0;
      }
      
      ul li:hover a {
        color: #fff;
      }

      .fm-nav-menu {
        position: absolute;
        top: 4rem;
        right: 0;
        width: 100%;
        background-color: #ffffff71;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);     
                               
      }

      .fm-nav-menu li:hover {
        color: #ffffff;
        background-color: #393e46;
        width: 100%;
        cursor: pointer;
      }
 

  @media only screen and (min-width: 768px) {

        .container-header {
            width: 80%;
            margin: 0 auto;
            padding: 1rem 0 1rem 0;
            display: flex;
            justify-content: space-between;
        }

        #fm-logo-header {
            margin: 0 10px;
        }

        .toggle-btn {
            display: none;
        }     

        .fm-nav-menu {
            position: unset;
            display: flex;  
            font-size: 1.4rem;
            width: unset;
            background-color: unset;
            box-shadow: unset;
        }

        .fm-nav-menu li:hover {
            background-color: #00000005; 
            transition: all .3s ease-in-out;
        }

        ul li:hover a {
            color: #11272e;
        }

        .fm-menu {
            padding: 0 2rem;
        }
  }

  /* ABOUT */
  
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* padding: 0 10px; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(221, 221, 221);
    background-blend-mode: multiply;  */ 
}
.about-content {
    flex-wrap: wrap;
    width: 600px;
    background-color: #424242d5;
    /* padding: 2em 3em 2em 3em; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.about-content h1 {
    font-weight: 100;
    font-size: calc(1.2rem + 2vw);
    color: #ffffff;
    text-align: left; 
    line-height: 1.2;
}

.about-content p {
    font-weight: 100;
    color: #ffffff;
    text-align: left; 
}

.about-image {
    flex-wrap: wrap;
    background: url(../image/francis-001.jpg) no-repeat top center;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 600px;
    height: 600px;
}

/* .about-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.123);
    transition: .5s;
} */

#work {
    width: 100%;
    padding: 0 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
    url(../image/background-002.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(221, 221, 221);
    background-blend-mode: multiply;    */
}

.work-container {
    /* margin-right: .5rem; */
    display: flex;
    justify-content: center;
}

.col-cont h1 {
    font-size: calc(1.2rem + 2vw);
    font-weight: 100;
    margin: 0 auto;
}

.col-cont p {
    margin: 0 auto;
}



#contact {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 200px 10px;
    /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
    url(../image/contact-background.jpg) no-repeat center center fixed; */
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(221, 221, 221);
    background-blend-mode: multiply; */
}


.contact-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}

.form-col  {
   background-color: #424242;
   padding: 2rem;
   width: 400px;
   height: 100%;
}

input {
    padding: 0.8rem;
    border-radius: 4px;
    border: none;
    width: 100%;
    font-family: Poppins;
    font-weight: 100;
    font-size: 1rem;
}

textarea {
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    resize: none;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 100;
    width: 100%;
}

label {
    color: #ffffff;
    line-height: 1.2;
}

button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 400;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

button:hover {
    color: #ffffff;
    background-color: #b9b9b9;
}

.form-msg {
    background-color: #14141413;
    padding: 2rem;
    width: 400px;
    height: 100%;
    justify-content: center;
    margin-bottom: 20px;
}



.form-msg h2 {
    font-size: calc(2rem + 2.5vw);
    font-weight: 900;
}

.form-msg p {
    font-size: 1.2rem;
    font-weight: 100;
}

/* FOOTER */
footer {
    padding: 10px;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #424242;
}

.social-icons {
    justify-content: center;
    margin: 20px auto;
}

.social-icons ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 10px;
}

.social-icons li {
    padding: 0 10px;
}

.rights p {
    font-size: 14px;
    text-align: center;
    font-weight: 100;
    color: #ffffff;
    
}

.icons {
   color: #b9b9b9;
   background-color: unset;
}

svg {
    height: 25px;
    width: 25px;
}

svg:hover {
    color: #ffffff;
    transition: .5s ease-in-out;
}


    /* FIRST SECTION */
.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 0 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
    url(../image/bg-006.jpg) no-repeat center center scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(194, 194, 194);
    background-blend-mode: multiply;   */
}

.hero-content {
    width: 80%;
    margin: 0 auto;
    /* padding-top: 30rem; */
}

.hero-content h3 {
    font-size: calc(1.2rem + 0.8vw);
    font-weight: 100;
    color: #393e46;
    text-align: center; 
    letter-spacing: 0.2rem;
    cursor: default;
}

.hero-content h1 {
    font-weight: 200;
    font-size: calc(0.6rem + 7vw);
    color: #ffffff;
    text-align: left; 
    line-height: 1;
    text-align: center; 
    letter-spacing: 1rem;
    cursor: default;
    background-color: #424242;
}

.hero-content h1:hover {
    background-color: #222831;
    color: #ffffff;
    transition: .5s;
}

/* ABOUT SECTION */
.about-container {
    flex-direction: column-reverse;
}

.about-content {
    width: 100%;
    padding: 1em;
    color: #ffffff;
    background-color: #424242d5;
    box-shadow: none;
}

.about-image {
    width: 100%;
    box-shadow: none;
    background: url(../image/francis-001.jpg) no-repeat top center;
    background-size: cover;
    
}

/* WORK SECTION */

#work {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
    url(../image/bg-001.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(221, 221, 221);
    background-blend-mode: multiply;    */
}

.work-cont-col {
    display: block;
    width: 100%;
    height: 100%;
}

.col-cont {
    text-align: center;
}

.col-cont h1 {
    font-size: 3rem;
}

.work-container {
    display: grid;
    gap: 10px;
    margin: 30px auto;
    text-align: center;
}

.work-container img {
    height: 200px;
    width: 200px;
}


.bg1 {
    padding: 10px;
    margin: 20px 0;
    background-color:  rgba(255, 255, 255, 0.753);
    /* box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.089); */
}

.bg1 a {
    text-decoration: none;
    color: #424242;
    }

/*==========================CONTACT============================*/
.contact-form-container {
    display: flex;
    flex-direction: column;

}

.form-col {
    width: 100%;
}

.form-msg {
    width: 100%;
}

.form-msg:hover {
    background-color: #424242;
    color: #ffffff;
    cursor: default;
}


@media only screen and (min-width: 768px) {
    /* FIRST SECTION */
.container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 10px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
    url(../image/bg-006.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(194, 194, 194);
    background-blend-mode: multiply;   */
    
}
.hero-content {
    width: 80%;
    margin: auto;
    /* padding-top: 30rem; */
}

.hero-content h3 {
    font-size: calc(1.2rem + 0.6vw);
    font-weight: 100;
    color: #393e46;
    text-align: center; 
    letter-spacing: 0.2rem;
    cursor: default;
}

.hero-content h1 {
    font-weight: 200;
    font-size: calc(0.9rem + 7vw);
    color: #ffffff;
    text-align: left; 
    line-height: 1;
    text-align: center; 
    letter-spacing: 1rem;
    cursor: default;
    background-color: #424242;
}

.hero-content h1:hover {
    background-color: #222831;
    color: #ffffff;
    transition: .5s;
}

/* ABOUT SECTION */

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 10px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(221, 221, 221);
    background-blend-mode: multiply;  */ 
}
.about-content {
    flex-wrap: wrap;
    width: 600px;
    background-color: #424242d5;
    padding: 2em 3em 2em 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-content h1 {
    font-weight: 100;
    font-size: calc(1.2rem + 2vw);
    color: #ffffff;
    text-align: left; 
    line-height: 1.2;
}

.about-content p {
    font-weight: 100;
    color: #ffffff;
    text-align: left; 
}

.about-image {
    flex-wrap: wrap;
    background: url(../image/francis-001.jpg) no-repeat top center;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 560px;
    height: 560px;
}

.about-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    transition: .5s;
}

#work {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 0 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)),
    url(../image/bg-001.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-color: rgb(221, 221, 221);
    background-blend-mode: multiply;    */
}

.work-cont-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-cont {
    text-align: center;
}

.work-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

.bg1 {
    width: 350px;
    margin: 0 20px;
    padding: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.bg1:hover {
    /* transform: scale(1.04); */
    /* color: #ffffff; */
    /* background-color: #919191; */
    background-color: #ffffff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.096), 0 3px 20px 0 rgba(0, 0, 0, 0.144);
    -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.bg1:hover a{
    color: #424242;
}

/*==================CONTACT==========================*/

.contact-form-container {
    display: flex;
    flex-direction: row;
}

.form-col {
    width: 400px;
}

.form-msg {
    width: 400px;
    margin-bottom: 0;
}

}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
    #work{
        padding: 20px 0;
        height: 100%;
    }

    .work-cont-col {
        width: 100%;
    }

    .work-container {
        width: 100%;
    }

    .work-container img {
    height: 150px;
    width: 150px;
}

    .bg1 {
        width: 350px;
        margin-top: 20px;
    }
}

